name: Deploy Core Service to PROD

on:
  workflow_dispatch:
  push:
    branches:
      - production

jobs:
  build-and-deploy-core:
    runs-on: ubuntu-latest

    steps:
      # ----------------------------
      # Checkout repository
      # ----------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # ----------------------------
      # Setup Docker Buildx
      # ----------------------------
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # ----------------------------
      # Log in to GitHub Container Registry
      # ----------------------------
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.DEARLAVION_PAT }}

      # ----------------------------
      # Build Docker image using Buildx (ROOT CONTEXT)
      # ----------------------------
      - name: Build Docker image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            --push \
            -t ghcr.io/dearlavion/dearlavion-core-service:dev \
            .

      - name: Checkout Ansible repo
        uses: actions/checkout@v4
        with:
          repository: dearlavion/dearlavion-projects
          path: dearlavion-projects
          token: ${{ secrets.DEARLAVION_PAT }}

      #- name: Debug Ansible repo structure
      #  run: ls -R dearlavion-projects/ansible

      - name: Install latest Ansible and Docker Python module
        run: |
          sudo apt update
          sudo apt install -y python3-pip python3-venv
          python3 -m pip install --upgrade pip
          python3 -m pip install --user ansible docker
          export PATH=$HOME/.local/bin:$PATH

      # ----------------------------
      # Setup SSH for deployment
      # ----------------------------
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEV_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 157.173.97.37 >> ~/.ssh/known_hosts

      # ----------------------------
      # Deploy on DEV server via Ansible
      # ----------------------------
      - name: Deploy Web UI
        run: |
          export PATH=$HOME/.local/bin:$PATH
          ansible-playbook \
            -i dearlavion-projects/ansible/inventory/hosts.ini \
            dearlavion-projects/ansible/playbook/dearlavion-app.yml \
            -e "deploy_service=prod env=dev ssh_user=baish ssh_host=157.173.97.37 use_registry=true ghcr_pat=${{ secrets.DEARLAVION_PAT }}" \
            --ssh-extra-args="-o StrictHostKeyChecking=no"